---
layout: default
---

<div id="main" role="main">			
	<div class="wrap">
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			{% if page.excerpt %}<p>{{ page.excerpt }}</p>{% endif %}
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				{% for machine in page.machines%}
					<h4>{{ machine.kind }}</h4>
					<h6> Example Products: </h6>
					{% for item in machine.products%}
						{% include example-grid.html %}
					{% endfor %}
					<h6> Things you can make with them </h6>
					{% for item in machine.crafts%}
						{% include example-grid.html %}
					{% endfor %}
				{% endfor %}
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->
